/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./src/app/page.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
.page_header__kVzhN {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #000; /* Dark theme background */
}

.page_title__3jonF {
  text-align: center;
  font-size: 2rem;
  color: #0f9d58; /* Sci-fi green */
}

.page_headerActions__QmoBM {
  display: flex;
  gap: 1rem;
}

.page_launchButton__7I9OO {
  padding: 0.8rem 1.6rem;
  background-color: #0f9d58; /* Sci-fi green */
  border: none;
  border-radius: 0.5rem;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.page_launchButton__7I9OO:hover {
  background-color: #0bc46a; /* Lighter green on hover */
}

.page_main__GlU4n {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.page_slogan__gTi1_ {
  font-size: 1.25rem;
  color: #ccc;
  margin-bottom: 2rem;
}

.page_grid__f5Kdy {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  grid-gap: 1rem;
  gap: 1rem;
  width: 100%;
}

/*.imageContainer {
  margin: 2rem 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}*/
.page_imageContainer__gQbWL {
  margin: 2rem 0;
}


/* Add additional CSS styles or modify existing ones as needed */

