.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #fff; 
}

.title {
  text-align: center;
  font-size: 2rem;
  color: #ec3713;
}

.headerActions {
  display: flex;
  gap: 1rem;
}

.launchButton {
  padding: 0.8rem 1.6rem;
  background-color: #ec3713; 
  border: none;
  border-radius: 0.5rem;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.launchButton:hover {
  background-color: #ec3713; 
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.slogan {
  font-size: 1.25rem;
  color: #ccc;
  margin-bottom: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  gap: 1rem;
  width: 100%;
}

/*.imageContainer {
  margin: 2rem 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}*/
.imageContainer {
  margin: 2rem 0;
}


/* Add additional CSS styles or modify existing ones as needed */
